<html>
<head>
<meta http-equiv="refresh" content="5; URL=http://127.0.0.1:8000/home">
<style>
table,th,td{
border: 1px solid black;
border-collapse: collapse;
}
th,td{
padding: 15px;
}
</style>
<script>
setTimeout(function(){
	window.location.reload(10);
},5000);
</script>
</head>
<body>
<div class="container">
<center><h1>Health Monitoring</h1>
<form action="http://127.0.0.1:8000/archive/" method="GET">
<a href="/archive/" class="btn btn-warning">Archive</a>
<!--<input type="submit" class="btn" value="Archive" name="getarchive"/>-->
</form>
<table>
<tr>
<td><h3>Last Updated on </h3></td>
<td>{{timestamp}}</td></tr>
<tr>
<td><h3>Patient Name</h3></td>
<td>{{name}}</td></tr>
<tr>
<td><h3>Body Temperature(C)</h3></td>
<td>{{temperature}}</td></tr>
<tr>
<td><h3>Pulse Rate(BPM)</h3></td>
<td>{{pulse}}</td></tr>

</center>
</body>
</head>
</html>
